.nav-title {
  display: flex;
  justify-content: space-between;
}
.nav-info {
  display: flex;
  width: 500px;
  height: 100px;
  justify-content: space-evenly;
  font-size: larger;
  margin-top: 5px;
  padding-top: 65px;
  padding-right: 100px;
}
.links {
  text-decoration: none;
}
.intro-title {
  font-weight: 700;
  font-size: 45px;
  /* width: 302px; */
  height: 53px;
  padding-left: 100px;
}

.brand-title {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 225px;
  /* margin: auto; */
  text-align: center;
}
.container {
  background: rgba(255, 144, 14, 0.1);
}
.explore {
  color: white;
  background-color: orange;
  width: 180px;
  height: 64px;
  border-radius: 5px;
  border: 0;
  font: 20px;
  box-shadow: 2px 2px 5px 5px silver;
}
.brand {
  /* width: 862px; */
  /* height: 225px; */
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  /* padding-bottom: 0%; */
}
.description {
  /* width: 868px; */
  /* height: 52px; */
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  /* padding-top: 1px; */
}
.banner-picture {
  width: 1440px;
  height: 700px;
  border-radius: 8px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.banner {
  display: flex;
  justify-content: center;
}

.features {
  color: #727272;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  font-size: 30px;
}
.profile-info {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
  /* padding: left 10px; */
}
.team-pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 40px;
}
.profile-description {
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center;
}
.enjoy {
  width: 468px;
  height: 110.21px;
  font-weight: 700;
  font-size: 45px;
  padding-left: 15px;
}

.love {
  width: 586px;
  height: 1021px;
}

.closed-box .box {
  margin: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}
.variations {
  width: 586px;
  height: 81.1px;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  color: #727272;
  padding-left: 20px;
}
.box {
  width: 586px;
  height: 177.79px;
  padding-left: 30px;
  border-radius: 8px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  border: solid whitesmoke;
}

.box h4 {
  color: #131313;
  font-size: 20px;
}
.profile-pic {
  width: 708px;
  height: 982px;
  border-radius: 8px;
}
.architect-pic {
  position: absolute;
  z-index: 1;
}

.experience {
  position: absolute;
  z-index: 2;
  width: 342px;
  height: 200px;
  background-color: orange;
  color: white;
  font-weight: 700;
  font-size: 65px;
  border: 0;
  border-radius: 8px;
  transform: translate(-55px, 850px);
}
.exp {
  font-weight: 500;
  font-size: 25px;
}
.fact-box {
  width: 241.83px;
  height: 241.83px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
.boxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
}
.fact-box:hover {
  transform: rotate(45deg);
  transition-duration: 2s;
  /* transform: skew(-45deg); */
}
.boxes,
img,
p {
  padding-top: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.boxes img {
  padding-top: 50px;
}

.fact {
  /* text-align: center; */
  font-size: 70px;
  padding-left: 50px;
}
.fact-intro {
  /* text-align: center; */
  padding-left: 50px;
  font-size: 25px;
}
.num {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}
.title {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/* .sponsors{
  align-items: center;
  justify-content: center;
  width: 542px;
  height: 129px;
} */
.sponsor-image {
  display: flex;
  justify-content: space-evenly;
}
.foot {
  width: 1100px;
  height: 60px;
  background: #fff4e7;
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  margin-bottom: 20px;
  margin-bottom: 100px;
}
.footer {
  display: flex;
  justify-content: center;
}

.sponsor {
  text-align: center;
  font-size: 70px;
}
.sponsor-info {
  text-align: center;
  font-size: 25px;
}
.photo {
  filter: grayscale(100%);
  
}



/* ----------------
  mobile view
-------------------*/

@media screen and (max-width: 576px) {
  .container {
    width: auto;
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .g3{
    padding-left: 50px;
  }
  .nav-title{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  .intro-title{
    padding-left: 20px;
  }
  .nav-info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 150px;
    padding-left: 200px;
  }
  .banner-picture{
    width: 100%;
  }
  .love{
    width: 100%;
     
  }





  .team-pic{
    grid-template-columns: repeat(1, 1fr);
    
  }
  .profile-info{
    display: grid;
    grid-template-columns:repeat(1, 1fr) ;
  }
  .heading{
    display:flex;
    flex-direction: column    ;
  }
  .profile-description{
    display: flex;
    flex-direction: column;
  }
  
  .architect-pic{
    height: auto;
  }
  .experience{
    transform: translate(260px, 900px);    
  }
  .boxes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-left: 150px;
    
  }
  .fact{
    padding-left: 160px;
  }

  .fact-intro{
    padding-left: 140px;
    text-align: center;
  }
  .sponsor-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-left: 170px;
    
  }
  .icons{
    text-align: center;
    padding-left: 150px;
  }
  .footer{
    padding-left: 130px;
    
  }
  .foot{
    height: auto;
  }
  
}

